USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Employees_tb]    Script Date: 8/19/2023 3:10:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees_tb](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Image] [nvarchar](max) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PhNo] [bigint] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](10) NOT NULL,
	[EmployeeType] [nvarchar](20) NOT NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[UpdateData] [nvarchar](100) NOT NULL,
	[DeleteData] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employees_tb] ON 

INSERT [dbo].[Employees_tb] ([ID], [Image], [Name], [PhNo], [Email], [Gender], [EmployeeType], [DateOfBirth], [Address], [UpdateData], [DeleteData]) VALUES (45, NULL, N'John Doe', 1234567890, N'john.doe@example.com', N'Male', N'Full Time', CAST(N'1990-01-15T00:00:00.000' AS DateTime), N'123 Main St', N'Update', N'Delete')
INSERT [dbo].[Employees_tb] ([ID], [Image], [Name], [PhNo], [Email], [Gender], [EmployeeType], [DateOfBirth], [Address], [UpdateData], [DeleteData]) VALUES (46, NULL, N'Jane Smith', 9876543210, N'jane.smith@example.com', N'Female', N'Part Time', CAST(N'1995-05-20T00:00:00.000' AS DateTime), N'456 Elm St', N'Update', N'Delete')
INSERT [dbo].[Employees_tb] ([ID], [Image], [Name], [PhNo], [Email], [Gender], [EmployeeType], [DateOfBirth], [Address], [UpdateData], [DeleteData]) VALUES (47, NULL, N'Michael Johnson', 5555555555, N'michael.johnson@example.com', N'Male', N'Full Time', CAST(N'1988-11-10T00:00:00.000' AS DateTime), N'789 Oak Ave', N'Update', N'Delete')
SET IDENTITY_INSERT [dbo].[Employees_tb] OFF
GO
